<div class="cards">
  <ul class="gallery">
    <li>
      <div class="card-product">
        <%= image_tag src="route.webp" %>
        <div class="card-product-infos">
          <h3>Sea Route</h3>
          <p>From the capital to the coast</p>
           <%= image_tag src="arrow-circle-down-light.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

    <li>
      <div class="card-product">
        <%= image_tag src="montain-route.webp" %>
        <div class="card-product-infos">
          <h3>Montain Route</h3>
          <p>From the capital to the coast</p>
           <%= image_tag src="arrow-circle-down-light.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

    <li>
      <div class="card-product">
        <%= image_tag src="city-route.webp" %>
        <div class="card-product-infos">
          <h3>São Paulo Route</h3>
          <p>From the capital to the coast</p>
          <a href="">View Route</a>
           <%= image_tag src="arrow-circle-down-light.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

   </ul>
</div>
