<div class="cards">
  <ul class="gallery">

 <li>
      <div class="card-product">
        <%= image_tag src="city-route.webp" %>
        <div class="card-product-infos">
          <ul>
            <li><span class="elevation">Moderada</span><span class="type">City</span></li>
            <li><h3>City Route</h3></li>
            <li><p>From the capital to the coast</p></li>
          </ul>
          <%= image_tag src="button-card.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

    <li>
      <div class="card-product">
        <%= image_tag src="route.webp" %>
        <div class="card-product-infos">

          <ul>
            <li><span class="elevation">Moderada</span><span class="type">Sea</span></li>
            <li><h3>Sea Route</h3></li>
            <li><p>From the capital to the coast</p></li>
          </ul>
          <%= image_tag src="button-card.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

    <li>
      <div class="card-product">
        <%= image_tag src="montain-route.webp" %>
        <div class="card-product-infos">
          <ul>
            <li><span class="elevation">Moderada</span><span class="type">Mountain</span></li>
            <li><h3>Mountain Route</h3></li>
            <li><p>From the capital to the coast</p></li>
          </ul>
          <%= image_tag src="button-card.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

    <li>
      <div class="card-product">
        <%= image_tag src="city-route.webp" %>
        <div class="card-product-infos">
          <ul>
            <li><span class="elevation">Moderada</span><span class="type">City</span></li>
            <li><h3>City Route</h3></li>
            <li><p>From the capital to the coast</p></li>
          </ul>
          <%= image_tag src="button-card.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

     <li>
      <div class="card-product">
        <%= image_tag src="city-route.webp" %>
        <div class="card-product-infos">
          <ul>
            <li><span class="elevation">Moderada</span><span class="type">City</span></li>
            <li><h3>City Route</h3></li>
            <li><p>From the capital to the coast</p></li>
          </ul>
          <%= image_tag src="button-card.svg", class:"link" %>
          <%= image_tag src="bookmark.svg", class:"bookmark" %>
        </div>
      </div>
    </li>

    <li>
      <%= image_tag "arrow-right.svg", class:"button-arrow-right" %>
    </li>

   </ul>
</div>
