
<%= link_to route_path(route) do %>
  <div class="card-product">
      <% if @route.photos.attached? %>
        <%= cl_image_tag route.photos[0].key, class:"product-image primary-image", data: {'picker-target': "pimage"} %>
      <% else %>
        <%= image_tag "urban.webp", class: "product-image primary-image" %>
      <% end %>
    <div class="card-route-details">
      <ul>
        <li><span class="type"><%= route.type_of_route %></span></li>
        <li><h3><%= route.name %></h3></li>
        <li><p><%= route.description %></p></li>
        <li><span class="distance">Distance: <%= route.distance < 1000 ? "#{route.distance}m" : "#{(route.distance / 1000.0).round(2)}km" %></span></li>
      </ul>
      <%= image_tag "icon_favorite.svg", class:"bookmark" %>
      <%= image_tag "button-card.svg", class:"link" %>
    </div>
  </div>
<% end %>
