<div class="card-product">
  <%= image_tag "city-route.webp" %>
  <div class="card-product-infos">
    <ul>
      <li><span class="elevation"><%= route.type_of_route %></span><span class="type"><%= route.positive_elevation %></span></li>
      <li><h3><%= route.name %></h3></li>
      <li><p><%= route.description %></p></li>
      <li><p><%= route.description %></p></li>
      <li><p><%= route.description %></p></li>
    </ul>
    <%= image_tag "button-card.svg", class:"link" %>
    <%= image_tag "bookmark.svg", class:"bookmark" %>
  </div>
</div>
