<!-- Button trigger modal -->

<div class="row g-0 d-flex align-items-start search-bar">
  <div class="col border-end-0">
      <%= simple_form_for :search, url: routes_path, method: "GET", html: { } do |f| %>
        <%= f.input :address, input_html: { value: @address, class: "search-input" },label: false, placeholder: "Search your Route" %>
      <% end %>
  </div>
  <div class="col-auto border-0 search-filter">
    <button type="button" class="btn btn-filter"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-sliders"></i>
    </button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choose your Route</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :search, url: routes_path , method: "GET", html: {class: 'form-inline' } do |f| %>
            <%= f.input :address, input_html: {value: @address } %>
            <%= f.input :distance, as: :range, input_html: { min: 0, max: 100, step: 1, value: @distance }, label: "Distance (km)" %>
            <%= f.input :type_of_route, as: :select, collection: Route::TYPE_OF_ROUTE, include_blank: "All Types", label: "Type of Route", selected: @type_of_route %>
            <%= f.submit "Search", class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
