<!-- Button trigger modal -->

<div class="row g-0 d-flex align-items-start search-bar">
  <div class="col border-end-0">
     <%= simple_form_for :search, url: routes_path, method: "GET", html: { } do |f| %>
      <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
      <%= f.input :address, input_html: { value: address, class: "search-input" }, label: false, required: false, placeholder:"Search City ex: Ribeirão Preto" %>
    <% end %>
  </div>
  <div class="col-auto border-0 search-filter">
    <button type="button" class="btn btn-filter" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fas fa-sliders"></i>
    </button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choose your Route</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :search, url: routes_path , method: "GET", html: {class: 'form-inline' } do |f| %>
            <%= f.input :address, input_html: {value: @address }, label: false, required: false, placeholder:"Search City ex: Ribeirão Preto"  %>
            <div class="range" data-controller= "slider" >
              <div class="range-slider">
                <span class="range-selected" data-slider-target= "range"></span>
              </div>
              <div class="range-input">
                <input type="range" class="min" min="0" max="1000" value="300" step="10" data-slider-target= "minslider" data-action='input->slider#changeRange'>
                <input type="range" class="max" min="0" max="1000" value="700" step="10" data-slider-target= "maxslider" data-action='input->slider#changeRange'>
              </div>
              <div class="range-price">
                <label for="min">Min</label>
                <input type="number" name="min" value="300" data-slider-target= "minvalue" data-action='input->slider#changeValue'>
                <label for="max">Max</label>
                <input type="number" name="max" value="700" data-slider-target= "maxvalue" data-action='input->slider#changeValue'>
              </div>
            </div>

            <%= f.input :type_of_route, as: :select, collection: Route::TYPE_OF_ROUTE, include_blank: "All Types", label: "Type of Route", selected: type_of_route, required: false  %>
            <%= f.submit "Search", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
