<div class="background-gallery-vertical-type mb-5">
 <h2 class="container pb-3">Browse by type of routes</h2>
  <ul class="gallery-vertical-type container">
    <li>
      <div class="card-type">
        <%= image_tag "city-route.webp" %>
        <span>Urbano</span>
        </div>
    </li>

    <li>
      <div class="card-type">
        <%= image_tag "route.webp" %>
        <span>Praia</span>
        </div>
    </li>

    <li>
      <div class="card-type">
        <%= image_tag "montain-route.webp" %>
        <span>Montanha</span>
        </div>
    </li>

     <li>
      <div class="card-type">
        <%= image_tag "city-route.webp" %>
        <span>Suburbano</span>
        </div>
    </li>

     <li>
      <div class="card-type">
        <%= image_tag "city-route.webp" %>
        <span>Interior</span>
        </div>
    </li>
  </ul>
 </div>
