<div class="container mt-3">
  <h1 class="mb-3 cor-12 font-1-m-b">Edit Route</h1>

  <% if !@route.photos.reject {|photo| photo.id.nil? }.empty? %>
    <%= render 'shared/route_photos', route: @route %>
  <% end %>

  <%= simple_form_for @route do |f| %>
      <% if @route.creator == current_user  %>
        <%= f.input :description, label: 'Description', placeholder: 'ex: Trilha leve, muito agradável' %>
      <% end %>
      <%= f.input :photos, as: :file, input_html: { multiple: true} %>
      <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back", route_path(@route) %>
</div>
