<h1>Routes</h1>

<div id="routes">
<ul>
  <% @routes.each do |route| %>
    <li><%= route.name %> - <%= route.description %></li><%= link_to "Show this Route", route %>
  <% end %>
</ul>

<%= simple_form_for @route do |f| %>
  <%= f.submit "New Route" %>
<% end %>
