<div data-controller = 'route-tracking' data-route-tracking-id-value='<%= @route.id %>'>
  <div  data-route-tracking-target='tracker'>
    <button class='btn btn-primary' data-route-tracking-target='startstop' data-action='click->route-tracking#trackRoute'>Track Route</button>
    <button class='btn btn-success d-none' data-route-tracking-target='save' data-action='click->route-tracking#showForm'>Save</button>
    <%= link_to 'Discard', route_path(@route), onclick: flash[:notice] = 'Route discarded', data: { route_tracking_target: 'discard', turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger d-none' %>
    <p data-route-tracking-target = 'status'></p>
    <p data-route-tracking-target = 'position'></p>
  </div>

  <%= simple_form_for @route, url: register_path(@route), method: 'PATCH', html: { class: "d-none", data: { route_tracking_target: 'registerform'} } do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file %>
    <%= f.submit "Post Route" %>
  <% end %>

</div>
