<div class="map-show">

  <div class style="width: 100%; height: 360px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

    <div class="route-title-show" id="show-route-name">
      <div class="container">
        <h1 class="font-1-m-b cor-11 title-show text-center"><%= @route.name %></span></h1>
      </div>
    </div>


    <div class='route-creator-show d-flex align-items-center justify-content-end'>
    <h3 class="font-2-xss cor-11">Created by <%= @route.creator.first_name %></h3>
    <% if @route.creator.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
    <% else %>
      <%= image_tag "user.svg", class: "avatar-show"%>
    <% end %>
  </div>

</div>

<div class="container mt-3 mb-4">

  <div class="route-details-show mt-4 mb-4">
    <ul>
      <div class="details-type d-flex gap-2 mt-3 mb-2">
      <li class="d-flex flex-column align-items-center"><span class="font-2-xss cor-8">Type of Route</span><span class="font-2-s cor-11"><%= @route.type_of_route %></span></li>
      <li class="d-flex flex-column align-items-center"><span class="font-2-xss cor-8">Distance</span> <span class="font-2-s cor-11"> <%= @route.distance < 1000 ? "#{@route.distance}m" : "#{(@route.distance / 1000.0).round(2)}km" %></span></li>
      <li class="d-flex flex-column align-items-center"><span class="font-2-xss cor-8">Elevation</span> <span class="font-2-s cor-11"> <%= @route.positive_elevation.nil? ? '60m' : "#{@route.positive_elevation.to_i}m" %></span></li>
      </div>
      <li><p class="font-2-s cor-11"><%= @route.description %></p></li>
    </ul>

    <div class="favorite-show">
      <% if @favorite.present? %>
        <%= link_to favorite_path(@favorite.first), data: { turbo_method: :delete } do  %>
          <i class="fa-solid fa-heart" style="color:var(--cor-11)"></i>
      <% end %>
      <% else %>
        <%= link_to route_favorites_path(@route), data: { turbo_method: :post } do  %>
          <i class="fa-regular fa-heart" style="color: var(--cor-11)"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render 'shared/route_photos', route: @route %>

 </div>

  <div class="buttons-show">
    <% if policy(@route).edit_description? %>
      <%= link_to "Edit", edit_route_path(@route), class: 'btn btn-primary' %>
    <% elsif user_signed_in? %>
      <%= link_to "Add Photos", edit_route_path(@route), class: 'btn btn-back' %>
    <% end %>
    <% if policy(@route).destroy? %>
      <%= link_to "Delete", route_path(@route), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    <% end %>

    <%if @ride_on_going.any? %>
        <%= button_to "Stop", mark_as_done_route_ride_path(@route, @ride_on_going.first), remote: true, data: {turbo_method: :patch}, class: "btn-start-stop-show" %>
    <% else %>
      <%= simple_form_for [@route,@ride] do |f| %>
        <%= f.submit "Start", class: "btn-start-stop-show"%>
      <% end %>
    <% end %>

    <%= simple_form_for @route, url: route_pinned_routes_path(@route), method: :post do |f| %>
      <%= f.submit "Pin", class: "btn-pin-circle-show"%>
    <% end %>
  </div>
</div>
