<div class="route-details">
  <ul>
    <li>Name<span><%= @route.name %></span></li>
    <li>Type of Route<span><%= @route.type_of_route %></span></li>
    <li>Description<span><%= @route.description %></span></li>
  </ul>
</div>

<% if policy(@route).edit? %>
  <%= link_to "Edit this route", edit_route_path(@route) %>
<% end %>


<%= simple_form_for @route, url: route_pinned_routes_path(@route), method: :post do |f| %>
  <%= f.submit "Pin your route", class: "btn btn-success"%>
<% end %>



<%# <% if policy(@route).edit? %>
  <%#= link_to "Edit this route", edit_route_path(@route) %> |
<%# end %>

<%= render "shared/route_recorder", route: @route %>
