<div class="route-details">
  <ul>
    <li>Name<span><%= @route.name %></span></li>
    <li>Type of Route<span><%= @route.type_of_route %></span></li>
    <li>Description<span><%= @route.description %></span></li>
  </ul>
</div>

<% if policy(@route).edit? %>
  <%= link_to "Edit this route", edit_route_path(@route) %>
<% end %>

<%= render "shared/route_recorder", route: @route %>
